{{ define "title" }}
    {{ . }}
{{end}}

{{ define "content" }}

<h2 class="header container">Add new books</h2>
<form class="container" action="{{ .BaseURL }}" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
    </div>

    <div>
        <label for="summary">Summary:</label>
        <textarea name="summary" id="summary" cols="30" rows="10"></textarea>
    </div>

    <div>
        <label for="year">Year:</label>
        <input type="number" name="year" id="year">
    </div>
    <input type="submit">
</form>

{{ end }}