{{ define "title" }}
    {{ . }}
{{end}}

{{ define "content" }}

<h2 class="header container">Add new books</h2>
<form class="container" action="{{ .BaseURL }}/add-book" method="post">
    <div>
        <input type="text" id="title" name="title" placeholder="Title" value="{{ .FormData.Title }}">
    </div>

    <div>
        <textarea name="summary" id="summary" cols="30" rows="10" placeholder="Summary">{{ .FormData.Summary}}</textarea>
    </div>

    <div>
        <input type="number" name="year" id="year" placeholder="Publication Year" value={{ .FormData.Year }}>
    </div>
    <div>
        <select name="authors" id="authors">
            {{ range .FormData.Authors }}
                <option value="{{ .ID }}">{{ printf  "%s %s" .FirstName .LastName }}</option>
            {{ end }}}
        </select>
    </div>
    <input type="submit">
</form>

{{ end }}