{{ define "base" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ template "title" }}</title>

    <link rel="stylesheet" href="/static/css/style.css">
    {{block "extra-css" . }}{{end}}
</head>
<body>
    {{ template "nav" . }}

    <div class="content">
        {{ block "content" . }}
            <p>Base conntent</p>
        {{end}}
    </div>

    {{ template "footer" . }}

    <script src="/static/js/main.js"></script>

    {{ block "extra-js" .}}{{end}}
</body>
</html>

{{ end }}